In [3]:
import pandas as pd
df = pd.read_excel('2019 Winter Data Science Intern Challenge Data Set.xlsx')

In [5]:
df.head(5)

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56.190
1,2,92,925,90,1,cash,2017-03-03 17:38:51.999
2,3,44,861,144,1,cash,2017-03-14 04:23:55.595
3,4,18,935,156,1,credit_card,2017-03-26 12:43:36.649
4,5,18,883,156,1,credit_card,2017-03-01 04:35:10.773

In [59]:
dfOrderAmount = df[['order_amount']]
dfTotalItems = df[['total_items']]

In [61]:
dfOrderAmount.sum()

order_amount    15725640
dtype: int64

In [62]:
dfTotalItems.sum(axis=0)

total_items    43936
dtype: int64

In [63]:
15725640/ 43936

357.92152221412965